#cardContainer.card{
margin-left: 25px;
margin-top: 25px;
margin-bottom: 100px;
  width: 15%;

}

.cardInfo{
  width: 100%;
}

#parentContainer{
  width: 100%;
  display: flex ;
  flex-wrap: wrap;
 justify-content: center;
 

}